.content-zone {
 display: flex;
 justify-content: space-between;

  position: relative;
  overflow: hidden;

  margin-left: 8%;
  margin-right: 2%;
}

.content-zone .card-zone {
  display: flex;
  flex-direction: column;
}

.rocketBackgroundImg {
  display: flex;
  align-items: center;

  filter: opacity(.9);
}
