.header {
  width: 100vw;
  height: 150vh;
  max-height: 1100px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: relative;
  overflow: hidden;
  
  color: #FFFFFF;
  background-color: #4673bc; /* gradient #527cc0 to #4673bc */
}

.header header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "logo" "wrap-menu";

  width: 100%;
  max-width: 1186px;

  height: 16vh;
}

.header header .logo {
  grid-area: logo;
  margin-top: 22px;
}

.header header .logo img {
  max-width: 30vw;
}

.header header nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header header nav .wrap-menu {
  grid-area: wrap-menu;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  margin-top: 0;
  margin-left: -66px;
  height: 100%;
  width: 80%;

  list-style-type: none;
}

.header header nav .wrap-menu li {
  padding: 10px;
  margin: 8px;
}

.header header nav .wrap-menu li a {
  text-decoration: none;
  font-weight: 500;
  color: #FFFFFF;
}

.header .description-section {
  width: 100vw;
  margin-top: 28vh;
  z-index: 2;
}

.header .description-section .content-description {
  width: 48vw;
  text-align: left;
  margin-left: 6.4%;
}

.header .description-section h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  line-height: 6.5rem;
  font-weight: 500;
  margin-bottom: -6px;
}

.header .description-section p {
  max-width: 29vw;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 30px;
}

#shape-1 {
  position: absolute;
  z-index: 1;
  top: 15rem;
  left: -26rem;
}

#human-background {
  position: absolute;
  z-index: 1;
  size: 51vw;
  top: 27rem;
  right: -23rem;
}
